In [93]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [94]:
df=pd.read_csv(r'C:\Users\LaukikN\Desktop\DS Class\Mini Projects\Dataset\heart1.csv')
df.sample(8)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
135,49,0,0,130,269,0,1,163,0,0.0,2,0,2,1
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1,0
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2,1
68,44,1,1,120,220,0,1,170,0,0.0,2,0,2,1
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3,0
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
134,41,0,1,126,306,0,1,163,0,0.0,2,0,2,1

In [71]:
df.cp.value_counts()

cp
0    143
2     87
1     50
3     23
Name: count, dtype: int64

In [35]:
df.shape

(303, 14)

In [40]:
df.thal.value_counts()

thal
2    166
3    117
1     18
0      2
Name: count, dtype: int64

In [95]:
x=df.iloc[:,:-6]
x

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh
0     63    1   3     145   233    1        0       150
1     37    1   2     130   250    0        1       187
2     41    0   1     130   204    0        0       172
3     56    1   1     120   236    0        1       178
4     57    0   0     120   354    0        1       163
..   ...  ...  ..     ...   ...  ...      ...       ...
298   57    0   0     140   241    0        1       123
299   45    1   3     110   264    0        1       132
300   68    1   0     144   193    1        1       141
301   57    1   0     130   131    0        1       115
302   57    0   1     130   236    0        0       174

[303 rows x 8 columns]

In [96]:
y=df['output']
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

In [97]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=5)
model1=LogisticRegression(max_iter=300)
model1.fit(x_test,y_test)

LogisticRegression(max_iter=300)

In [98]:
model1.score(x_train,y_train)

0.7311320754716981

In [99]:
model1.score(x_test,y_test)

0.8901098901098901

In [ ]:
higher training error is there
lower testing error is there 
means high bias and low variance means under fitting

In [100]:
result=model1.predict(x_test)

In [101]:
import warnings
warnings.filterwarnings('ignore')

body_para=[54,1,0,124,266,0,0,109]
result=model1.predict([body_para])
target[result[0]]

'Less Chance of Heart Attack'

In [57]:
df.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [ ]:
57	0	0	120	354	0	1	163

In [85]:

try:
    import warnings
    warnings.filterwarnings('ignore')
    target=['Less Chance of Heart Attack','More Chance of Heart Attack']

    age=float(input('Enter your Age: '))
    sex=float(input('Enter 0 for Female and 1 for Male: '))
    cp=float(input('Chest Pain Type(Enter 0= typical angina, 1: atypical angina, 2: non-anginal pain, 3: asymptomatic): '))
    trtbps=float(input('resting blood pressure (in mm Hg normal range=120/80): '))
    chol=float(input('cholestoral in mg/dl fetched via BMI sensor,range=less than 200 is Normal: '))
    fbs=float(input('(fasting blood sugar > 120 mg/dl) (1 = true; 0 = false): '))
    restecg=float(input('resting electrocardiographic results(0=Normal,1=having ST-T wave abnormality,2=showing probable or definite left ventricular hypertrophy: )'))
    thalachh=float(input('maximum heart rate achieved: '))

    body_para=[age,sex,cp,trtbps,chol,fbs,restecg,thalachh]
    result=model1.predict([body_para])
    print(target[result[0]])
    
except Exception as ex:
    print('Error is there')

Enter your Age: 54
Enter 0 for Female and 1 for Male: 1
Chest Pain Type(Enter 0= typical angina, 1: atypical angina, 2: non-anginal pain, 3: asymptomatic): 0
resting blood pressure (in mm Hg normal range=120/80): 124
cholestoral in mg/dl fetched via BMI sensor,range=less than 200 is Normal: 266
(fasting blood sugar > 120 mg/dl) (1 = true; 0 = false): 0
resting electrocardiographic results(0=Normal,1=having ST-T wave abnormality,2=showing probable or definite left ventricular hypertrophy: )0
maximum heart rate achieved: 109
Less Chance of Heart Attack

In [ ]:
54	1	0	124	266	0	0	109

In [102]:
import pickle
pickle.dump(model1,open('model1.pkl','wb'))